* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    background-color: beige;
    background-image: url(./assets/8511961.webp);
    background-size: cover;
    overflow: hidden;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
}

@font-face {
    font-family: Apparel;
    src: url(../Demo_Fonts/Fontspring-DEMO-appareldisplay-light.otf);
}

@font-face {
    font-family: Apparel;
    src: url(../Demo_Fonts/Fontspring-DEMO-appareldisplay-regular.otf);
    font-weight: bold;
}

@font-face {
    font-family: Meuga;
    src: url(../Demo_Fonts/meuga-godyo.ttf);
}

#glow-effect {
    position: fixed;
    background-color: black;
    /* box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5); */
    transition: box-shadow 0.3s ease;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}

.hoverEff {
    background-color: #3247D1 !important;
    width: 200px !important;
    height: 200px !important;
}

h2 {
    font-size: 240px;
    letter-spacing: 8px;
    color: black;
    font-family: Meuga;
    font-weight: 100;
    cursor: pointer;
    user-select: none;

}

.main {
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


#rose {
    height: 550px;
    user-select: none;
    z-index: 2;
}

.grass {
    position: absolute;
    bottom: -20px;
    right: -60px;
    z-index: -2;
}

.grass2 {
    position: absolute;
    top: -20px;
    left: -40px;
    transform: scaleX(-1) scaleY(-1);
    z-index: -2;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 120px;
    cursor: pointer;
    rotate: 20deg;
    transition: 200ms;
}

.arrow {
    position: absolute;
    width: 100px;
    bottom: 50px;
    left: 140px;
}

.headText {
    position: absolute;
    z-index: default;

}

.scrollHover {
    transform: scale(1.2);
    transition: 200ms;
    rotate: 30deg;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    position: fixed;
    z-index: 3;
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;

    
}

.popup {
    width: 70%;
    height: 80%;
    background-color: rgb(245, 245, 220, 0.9);
    padding: 16px 28px;
    background-image: url(./assets/8511961.webp);
    border-radius: 20px;
    
}

.main-text {
    font-size: 164px;
    letter-spacing: 1px;
}

.main-content > p {
    font-size: 24px;
    padding-top: 24px;
    font-family: "Inter", sans-serif;
    user-select: none;
}

.popup-hover {
    display: flex !important
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    h2 {
        font-size: 190px;

    }

    .hoverEff {
        width: 160px;
        height: 160px;
    }

    #rose {
        height: 400px;
    }

    .grass {
        width: 164px;
        right: -100px;
    }

    .grass2 {
        width: 164px;
    }

    .scroll {
        bottom: -30px;
        left: 20px;
        width: 100px;
    }

    .arrow {
        bottom: -10px;
        left: 120px;
    }

    .main-text {
        font-size: 120px;
    }

    .main-content>p {
        font-size: 22px;
    }

    .popup {
        width: 90%;
        height: 90%;
        padding: 14px 24px;
    }

    .hoverEff {
        width: 120px !important;
        height: 120px !important;
    }
}

/* sm */
@media (max-width: 468px) {
    .container {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        font-size: 154px;
        letter-spacing: 1px;
        text-align: center;
    }

    .hoverEff {
        width: 120px;
        height: 120px;
    }

    #rose {
        height: 300px;
    }

    .grass {
        width: 124px;
        right: -80px;
        bottom: -50px;
    }

    .grass2 {
        width: 124px;
        top: -50px;
        left: -40px;
    }

    .scroll {
        bottom: -50px;
        left: 10px;
        width: 80px;
    }

    .arrow {
        bottom: -20px;
        left: 90px;
    }

    .main-text {
        font-size: 80px;
        padding-bottom: 24px;
    }

    .main-content>p {
        font-size: 18px;
        padding-left: 24px;
    }

    .popup {
        width: 100%;
        height: 100%;
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .hoverEff {
        width: 84px !important;
        height: 84px !important;
    }
}
